@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;

  --xxs: 2px;
  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --g: 48px;
  --gg: 96px;
  --ggg: 192px;
  --x: 256px;
  --xx: 320px;
  --xxx: 384px;
}

body {
  font-family: "Nova Square", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--grey);
}

.container0 {
  width: 80%;
  margin: auto;
  background-color: var(--grey);
  padding: var(--l);
  border-radius: var(--s);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subContainer0 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: var(--g);
}

.subContainer1 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin: 16px;
  font-size: 16px;
}

.subContainer2 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.subContainer3 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding: 0px 0px 0px 48%;
  margin: 4px;
}

.subContainer4 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding: 0px 0px 0px 0px;
  margin: var(--xs);
}

.container1 {
  display: flex;
  justify-content: flex-start;
  background-color: var(--grey);
  padding: var(--s) var(--s) 0 var(--s);
  margin: var(--s) var(--gg) 0 var(--gg);
}

.subContainer5 {
  display: flex;
  flex-basis: 15%;
  margin: 0px;
}

.subContainer6 {
  display: flex;
  flex-basis: 85%;
  flex-wrap: wrap;
  margin: 0px;
}

.subContainer7 {
  width: 100%;
  margin: var(--xs) var(--xs) var(--xs) 0px;
}

.subContainer8 {
  width: 100%;
  margin: var(--xxs);
}

.subContainer9 {
  display: flex;
  justify-content: space-between;
  margin: var(--xxs) var(--xxs) var(--xxs) 0px;
}

.subContainer10 {
  display: flex;
  margin: var(--xxs);
}

.subContainer11 {
  display: flex;
  margin: var(--xxs);
}

.u-textCenter {
  text-align: center;
}
